.post {
  width: 100%;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.poem-container {
  padding-bottom: 0px;
  padding-top: 10px;
}

.poem-title {
  font-family: "Libre Baskerville", serif;
  color: #1e2126;
  font-size: 1.4rem;
  font-weight: bold;
  padding-right: 0px;
  margin-bottom: 10px;
}

.poem-body {
  font-family: "Montserrat", sans-serif;
  color: #1e2126;
  font-size: 0.9rem;
  line-height: 160%;
}

.poem-share-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 650px) {
  .post {
    justify-content: flex-start;
  }
  .poem-container {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .post {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .poem-container {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .poem-title {
    font-size: 1.1rem;
  }

  .poem-body {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 361px) {
  .poem-container {
    margin-left: 20px;
  }

  .poem-title {
    font-size: 1.1rem;
  }

  .poem-body {
    font-size: 0.7rem;
  }
}
