.post {
  width: 90%;
  min-height: 70vh;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.poem-container {
  margin: 0 auto;
}

.poem-title {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: bold;
}

.poem-body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 140%;
}

.poem-share-container {
  display: flex;
  margin-top: 50px;
}

@media only screen and (min-width: 650px) {
  .post {
    margin-left: 40px;
    padding-left: 40px;
  }
  .poem-container {
    width: 50%;
  }
}
