.featured-container {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/pebbles.jpg");
  background-size: cover;
  overflow: hidden;
}

.featured-text {
  overflow: hidden;
  height: 70%;
  width: 400px;
  min-width: 356px;
  display: flex;
  align-items: center;
  background-color: rgb(245, 246, 250, 0.8);
  box-shadow: -5px 3px 25px rgb(47, 54, 64, 0.3);
  border-radius: 8px;
  padding: 20px 40px;
  margin-left: 100px;
}

.featured-quote-sign {
  position: relative;
  top: -11%;
  left: 0%;
  font-family: "Libre Baskerville", serif;
  color: #2f3640;
  font-size: 3rem;
  opacity: 0.3;
  color: #40739e;
  z-index: 0;
  margin-right: 0px;
}

.featured-body {
  max-width: 260px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #2f3640;
}

a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: #2f3640;
}

.featured-link-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #2f3640;
  margin-bottom: 0px;
}

@media only screen and (max-width: 604px) {
  .featured-container {
    justify-content: center;
  }

  .featured-text {
    align-items: center;
    height: 280px;
    width: 300px;
    margin-left: 0px;
  }

  .featured-quote-sign {
    top: -10%;
    font-size: 3rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 445px) {
  .featured-text {
    max-width: 260px;
    height: 240px;
  }

  .featured-body {
    font-size: 0.8rem;
    max-width: 220px;
  }

  .featured-quote-sign {
    top: -10%;
    font-size: 2.5rem;
    margin-right: 0px;
  }

  .featured-link-text {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 361px) {
  .featured-text {
    width: 200px;
    height: 240px;
    padding-left: 20px;
  }

  .featured-body {
    font-size: 0.8rem;
    width: 200px;
  }

  .featured-quote-sign {
    top: -10%;
    font-size: 2.5rem;
    margin-right: 0px;
  }

  .featured-link-text {
    font-size: 0.6rem;
  }
}
