.featured-container {
  height: 50vh;
  position: relative;
  background-color: rgb(245, 246, 250, 0.2);
}

.featured-container::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.9;
  background-image: url("../images/pebbles.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.featured-text {
  position: absolute;
  top: calc((50vh - 295px) / 2);
  left: 10%;
  overflow: hidden;
  height: 250px;
  width: 40%;
  min-width: 356px;
  display: flex;
  align-items: center;
  background-color: rgb(245, 246, 250, 0.8);
  box-shadow: -5px 3px 25px rgb(47, 54, 64, 0.3);
  border-radius: 8px;
  padding: 20px 30px;
}

.featured-quote-sign {
  position: relative;
  top: -10%;
  left: 0%;
  font-family: "Libre Baskerville", serif;
  color: #2f3640;
  font-size: 4rem;
  opacity: 0.3;
  color: #40739e;
  z-index: 0;
  margin-right: 5px;
}

.featured-body {
  max-width: 356px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #2f3640;
}

a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: #2f3640;
}

.featured-link-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #2f3640;
  margin-bottom: 0px;
}

@media only screen and (max-width: 870px) {
  .featured-text {
    height: 250px;
    top: calc((50vh - 290px) / 2);
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 604px) {
  .featured-text {
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    top: calc((50vh - 240px) / 2);
  }
}

@media only screen and (max-width: 445px) {
  .featured-text {
    min-width: 280px;
    top: calc((50vh - 240px) / 2);
  }

  .featured-body {
    font-size: 0.9rem;
  }

  .featured-quote-sign {
    top: -20%;
    font-size: 3rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 361px) {
  .featured-text {
    height: 180px;
    width: 220px;
    top: calc((50vh - 200px) / 2);
    padding: 10px 10px;
  }

  .featured-body {
    font-size: 0.8rem;
  }

  .featured-quote-sign {
    top: -20%;
    font-size: 3rem;
    margin-right: 0px;
  }

  .featured-link-text {
    font-size: 0.7rem;
  }
}
