.footer {
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -3px 2px 15px rgb(47, 54, 64, 0.3);
  background-color: #f5f6fa;
}

.footer-text-container {
  max-width: 280px;
}

h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  color: #2f3640;
}
