.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 3px 15px rgb(47, 54, 64, 0.3);
  background-color: #f5f6fa;
}

.branding {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.branding p {
  font-family: "Libre Baskerville", serif;
  color: #2f3640;
}

.site-name {
  border-right: 1px solid #2f3640;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.site-subtitle {
  padding-left: 10px;
  color: #2f3640;
}

.links-container {
  margin-right: 40px;
}

.links-container a {
  margin-left: 40px;
  padding-left: 0 5px;
  padding-bottom: 10px;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
}

.links-container a:link,
.links-container a:visited {
  text-decoration: none;
  color: #2f3640;
}

.links-container a:hover,
.links-container a:active {
  border-bottom: 1px solid #2f3640;
}

@media only screen and (max-width: 650px) {
  .branding {
    margin-left: 20px;
  }

  .site-name {
    width: 60px;
    font-size: 0.7rem;
    padding-right: 7px;
  }

  .site-subtitle {
    font-size: 0.8rem;
    padding-left: 7px;
  }

  .links-container {
    margin-right: 20px;
  }

  .links-container .links {
    margin-left: 20px;
    font-size: 0.8rem;
  }
}
